<% if flash.any? %>
  <% flash.each do |type, message| %>
    <div class="alert <%= build_alert_classes(type) %> alert-dismissible fade show" role="alert">
      <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
<% end %>
