ins {
  text-decoration: none;
}

.bg-light {
  background-color: #f1f5f9;

  .page-content {
    .bg-primary {
      background: #624bff;
      padding-bottom: 9.5rem;
      padding-top: 4rem;
    }

    &__wrapper {
      padding: 0 2rem;
      margin-top: -10rem;
    }

    .card {
      margin-top: 2rem;

      .card-body {
        .table {
          tbody {
            tr {
              td {
                &:last-child, &:nth-last-child(2) {
                  text-align: center;
                  width: 10%;
                }

                img {
                  max-height: 75px;
                  width: auto;
                }
              }
            }
          }
        }

        form {
          .img-wrapper {
            .img-thumbnail {
              width: 100%;
              text-align: center;

              img {
                max-width: 100%;
              }
            }

            .btn {
              &.btn-light {
                label {
                  margin: unset;
                }
              }
            }
          }
        }
      }
    }

    .infoblock {
      .card {
        min-height: 158px;

        h4 {
          font-size: 18px;
        }
      }
    }
  }
}
