<div>
  <div class="d-flex justify-content-between align-items-center">
    <div class="mb-2 mb-lg-0">
      <h3 class="mb-0 text-white">Бонусы</h3>
    </div>
    <div>
      <%= link_to "Назад", bonuses_path, class: "btn btn-light" %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">Редактирование</div>
  <div class="card-body">
    <%= render "form" %>
  </div>
</div>
