#catalog {
  background: url(catalog-bg.jpg) no-repeat;
  background-size: cover;
  position: relative;

  .catalog-before {
    background: url(catalog-before.png) no-repeat;
    background-size: cover;
    position: absolute;
    right: 120px;
    top: -25px;
    width: 85px;
    height: 75px;
    z-index: 1;
  }

  .catalog-greyline {
    background: url(greyline.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 189px;
    height: 296px;
    z-index: 1;
  }

  .catalog-whiteline {
    background: url(whiteline.png) no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 43%;
    width: 94px;
    height: 146px;
    z-index: 1;
  }

  .wrapper-left {
    clip-path: polygon(0 0, 100% 0, 63% 100%, 0 100%);
    background: rgb(226, 14, 23);
    background: linear-gradient(90deg, rgba(180, 19, 84, 1) 0%, rgba(226, 14, 23, 1) 100%);
    opacity: 85%;
    position: absolute;
    top: 25px;
    left: 25px;
    width: 68%;
    height: calc(100% - 50px);
  }

  .wrapper-right {
    clip-path: polygon(60% 0, 100% 0, 100% 100%, 25% 100%);
    background: rgb(73, 65, 145);
    background: linear-gradient(90deg, rgba(97, 196, 235, 1) 0%, rgba(73, 65, 145, 1) 100%);
    opacity: 85%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    width: 75%;
    height: 100%;
  }

  .container {
    position: relative;
    z-index: 1;

    h1 {
      color: white;
    }

    .list-products {
      .wrapper-block {
        &:first-child {
          .product-block {
            &:before {
              content: '';
              background: url(catalog-before.png) no-repeat;
              background-size: cover;
              position: absolute;
              width: 85px;
              height: 75px;
              z-index: 1;
              transform: rotate(60deg);
              bottom: -50px;
              right: -40px;
              opacity: 85%;
            }
          }
        }
      }
    }

    .list-services {
      .wrapper-block {
        &:nth-child(3) {
          .service-block {
            &:before {
              content: '';
              clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
              background: rgb(226, 14, 23);
              background: linear-gradient(90deg, rgba(226, 14, 23, 1) 0%, rgba(180, 19, 84, 1) 100%);
              position: absolute;
              width: 85px;
              height: 75px;
              z-index: 1;
              opacity: 85%;
              right: -43px;
              top: -35px;
            }
          }
        }
      }
    }

    .list-products, .list-services {
      .product-block, .service-block {
        position: relative;
        display: block;
        text-align: center;
        background-color: #dfdfe0;
        padding: 25px 25px 10px 25px;
        margin: 15px 15px 30px 15px;
        text-decoration: none;

        &:hover {
          .product-more, .service-more {
            text-decoration: underline;
          }
        }

        .product-image, .service-image {
          img {
            width: 100%;
          }
        }

        .product-title, .service-title {
          color: #303335;
          text-transform: uppercase;
          font-size: 22px;
          margin-top: 10px;
        }

        .service-title {
          min-height: 67px;
        }

        .product-more {
          color: #d96a69;
          text-transform: lowercase;
        }
      }
    }

    .get-feedback {
      a {
        clip-path: polygon(0 0, 95% 0, 100% 50%, 5% 50%);
        width: 45%;
        height: 100px;
        line-height: 50px;
        font-size: 30px !important;
        display: inline-block;
      }
    }
  }
}

@media (max-width: 767px) {
  #catalog {
    background: unset;

    .catalog-greyline, .catalog-whiteline {
      display: none;
    }

    .wrapper-right {
      height: calc(50% + 65px);
    }

    .container {
      .list-products {
        .wrapper-block {
          &:first-child {
            .product-block {
              &:before {
                width: 52px;
                height: 45px;
                bottom: -30px;
                right: -10px;
              }
            }
          }

          .product-block {
            margin: 15px;
          }
        }
      }

      .list-services {
        .wrapper-block {
          &:nth-child(3) {
            .service-block {
              &:before {
                width: 52px;
                height: 45px;
                right: -25px;
                top: -25px;
              }
            }
          }

          .service-block {
            margin: 15px;
          }
        }
      }

      .get-feedback {
        a {
          font-size: 18px !important;
          width: 300px;
          margin-top: 35px;
        }
      }
    }
  }
}
