@import "../fonts";

body {
  font-family: 'RobotoSlab Regular';
  color: #303335;
  overflow-x: hidden;
}

h1 {
  font-family: 'RobotoSlab Bold';
  text-transform: uppercase;
  margin: unset;
  padding: 50px 0;
}

.figure-parallelogram {
  text-align: center;
  color: white;

  a {
    width: 263px;
    height: 80px;
    clip-path: polygon(0 0, 90% 0, 100% 50%, 10% 50%);
    display: inline-block;
    font-family: 'RobotoSlab Bold';
    font-size: 22px !important;
    line-height: 35px;
    color: white;
    text-decoration: none;

    &:hover {
      color: #cccccc;
    }
  }
}

#support .your-question a,
#main .choose-boiler a,
#catalog .get-feedback a {
  background: rgb(226, 14, 23);
  background: linear-gradient(90deg, rgba(180, 19, 84, 1) 0%, rgba(226, 14, 23, 1) 100%);
  text-align: center;
  display: block;
}

#stocks .and-plus a,
#reviews .quick-order a {
  background: rgb(97, 196, 235);
  background: linear-gradient(90deg, rgba(97, 196, 235, 1) 0%, rgba(73, 65, 145, 1) 100%);
}

#main, #contacts, #stocks, #reviews, #about, #product, #cart {
  background: url(background.jpg) 100%;
}

#main, #about, #reviews, #recommend, #stocks, #support, #product, #cart {
  position: relative;
  height: 100vh;
}

#main {
  &.main-page {
    max-height: 100vh;
    height: 100%;
  }
}

#about .list-items,
#reviews .list-items,
#stocks .list-items {
  margin: 60px 0;
}

@media (max-width: 767px) {
  #main, #about, #reviews, #recommend, #stocks, #support, #product, #cart {
    height: 100%;
  }

  h1 {
    text-align: center !important;
    padding: 50px 0 20px 0;
  }

  #about {
    h1 {
      padding: 25px 0;
    }
  }

  #about .list-items, #reviews .list-items, #stocks .list-items {
    margin: unset;
  }

  .catalog-before, .reviews-before, .recommend-before, .stocks-before, .support-before, .contacts-before {
    left: 0 !important;
    right: 0 !important;
    margin-left: auto;
    margin-right: auto;
  }

  #catalog, #recommend, #support, #product, #cart {
    .wrapper-left {
      clip-path: polygon(0 0, 100% 0, 100% 98%, 0% 100%) !important;
      width: calc(100% - 20px) !important;
      height: calc(50% - 20px) !important;
      left: 10px !important;
      right: 10px !important;
      top: 10px !important;
      bottom: unset !important;
    }

    .wrapper-right {
      clip-path: polygon(0 2%, 100% 0, 100% 100%, 0% 100%) !important;
      width: 100% !important;
      left: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      top: unset !important;
    }
  }
}
