#main {
  .red-lines__bg {
    background: url(red-lines__bg.png) top left no-repeat;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-size: contain;
  }

  .navbar {
    background: transparent !important;

    .navbar-brand {
      padding: unset;
      width: 150px;
      margin: 60px 40px 25px 65px;

      img {
        width: 100%;
      }
    }

    .navbar-nav {
      .nav-item {
        &.cart {
          .nav-link {
            background: rgb(97, 196, 235);
            background: linear-gradient(90deg, rgba(97, 196, 235, 1) 0%, rgba(73, 65, 145, 1) 100%);
            border-radius: 50%;
            margin-left: 20px;
            position: relative;
            padding: 10px 0;
            width: 50px;

            &:before {
              content: '';
              background-image: url(icon-cart.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: 30px;
              padding: 25px;
            }

            .counter {
              position: absolute;
              font-family: 'RobotoSlab Thin';
              background-color: #E52521;
              border-radius: 50%;
              width: 15px;
              height: 15px;
              text-align: center;
              vertical-align: middle;
              color: #fff;
              line-height: 15px;
              font-size: 12px;
              top: 10px;
              right: 10px;
            }
          }
        }

        .nav-link {
          color: #616365;
          text-transform: uppercase;
          font-family: 'RobotoSlab Bold';
          padding-left: 20px;
          padding-right: 20px;
          font-size: 20px;

          &.active,
          &:hover {
            color: black;
          }
        }
      }
    }
  }

  .main-blocks {
    &:first-child {
      position: relative;
    }

    .main-title {
      margin: 35px 0 0 80px;

      p {
        margin: unset;
        font-family: 'RobotoSlab Bold';
        text-transform: uppercase;
        line-height: 50px;
        font-size: 45px;
      }
    }

    .main-description {
      padding: 60px 0 0 80px;
      background: url(triangle-white.png) no-repeat;
      background-size: contain;
      background-position-x: 35px;
      background-position-y: 40px;

      p {
        font-size: 30px;
        line-height: 34px;
        margin: unset;
      }
    }

    .choose-boiler {
      text-align: left;
      margin: 50px 0 0 100px;
    }

    .main-triangle__red {
      clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
      background: rgb(226, 14, 23);
      background: linear-gradient(90deg, rgba(226, 14, 23, 1) 0%, rgba(180, 19, 84, 1) 100%);
      position: absolute;
      right: 75px;
      width: 85px;
      height: 75px;
      bottom: 30px;
    }

    .main-contacts {
      font-size: 24px;
      margin-top: 35px;
      position: relative;
      z-index: 1;

      .email, .phone, .address {
        position: relative;
        margin-bottom: 5px;
      }

      .email {
        &:before {
          background-image: url(icon-email.png);
        }
      }

      .phone {
        &:before {
          background-image: url(icon-phone.png);
        }
      }

      .address {
        &:before {
          background-image: url(icon-address.png);
        }

        span {
          display: block;
        }
      }

      div {
        &:before {
          content: " ";
          background-repeat: no-repeat;
          background-size: contain;
          position: absolute;
          width: 35px;
          height: 35px;
          left: -50px;
          top: 3px;
        }
      }
    }

    .geliss {
      background: url(geliss.png) no-repeat;
      position: absolute;
      width: 560px;
      height: 560px;
      background-size: contain;
      bottom: 0;
      opacity: 85%;
      right: 180px;
      z-index: 0;
    }

    .coal {
      background: url(coal.png) no-repeat;
      background-size: contain;
      position: absolute;
      width: 300px;
      height: 260px;
      z-index: 1;
      right: 0;
      bottom: 0;
    }

    .right-elem {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
      background: rgb(97, 196, 235);
      background: linear-gradient(90deg, rgba(97, 196, 235, 1) 0%, rgba(73, 65, 145, 1) 100%);
      width: 230px;
      height: 400px;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 2;
      opacity: 85%;
    }

    .white-line {
      background: url(white-line.png) no-repeat;
      background-size: contain;
      position: absolute;
      width: 100px;
      height: 155px;
      right: 200px;
      bottom: 215px;
      z-index: 1;
    }

    .red-line__right {
      background: url(red-line_short.png) no-repeat;
      background-size: contain;
      position: absolute;
      width: 144px;
      height: 225px;
      right: 125px;
      bottom: 110px;
    }

    .red-line__left {
      background: url(red-line_short.png) no-repeat;
      background-size: contain;
      position: absolute;
      width: 144px;
      height: 225px;
      right: 350px;
      bottom: 90px;
    }
  }
}

@media (max-width: 767px) {
  #main {
    .red-lines__bg {
      width: 375px;
      height: 454px;
      left: -37px;
    }

    .red-lines__bg-mirror {
      background: url(red-lines__bg.png) top left no-repeat;
      background-size: contain;
      width: 375px;
      height: 454px;
      position: absolute;
      top: 454px;
      left: -37px;
      transform: scale(1, -1)
    }

    .navbar {
      .navbar-brand {
        width: 75px;
        margin: unset;
      }

      .navbar-nav {
        .nav-item {
          &.cart {
            text-align: center;

            .nav-link {
              display: inline-block;
              margin: unset;
              width: 44px;

              &:before {
                padding: 12px 22px;
              }
            }
          }

          .nav-link {
            font-size: 16px;
            padding: 5px;
            text-align: center;
          }
        }
      }
    }

    .main-blocks {
      .main-title {
        margin: 35px 0 0 0;
        text-align: center;

        p {
          font-size: 30px;
          line-height: normal;
        }
      }

      .main-description {
        padding: unset;
        text-align: center;
        margin-top: 30px;
        padding-bottom: 30px;

        background-position: bottom 15px center;
        background-size: 50px;

        p {
          font-size: 16px;
          line-height: normal;
        }
      }

      .choose-boiler {
        margin: unset;
        text-align: center;
        margin-top: 30px;

        a {
          display: inline-block;
        }
      }

      .main-triangle__red {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: -20px;
        position: relative;
      }

      .main-contacts {
        margin-top: unset;
        margin-bottom: 20px;
        text-align: center;
        font-size: 20px;

        .email, .phone, .address {
          margin-bottom: unset;
        }

        .address {
          span {
            display: inline;
          }
        }
      }

      .geliss {
        width: 100%;
        height: 351px;
        position: relative;
        right: unset;
        margin-bottom: 100px;
        background-position: center;
      }

      .coal {
        width: 50%;
        height: 162px;
        right: 40px;
        background-position-y: bottom;
      }

      .right-elem {
        width: 50%;
        height: calc(100vw * 0.9);
      }

      .red-line__left {
        width: 120px;
        height: 185px;
        right: unset;
        left: 0;
        bottom: 0;
      }

      .white-line {
        right: 60px;
        bottom: 195px;
      }

      .red-line__right {
        right: 0;
        bottom: 40px;
      }
    }
  }
}
