<!-- About -->
<section id="about">
  <div class="streak"></div>

  <div class="container">
    <h1 class="title">О нас - В цифрах</h1>

    <div class="row align-items-start list-items">
      <div class="col-sm-6 col-md-4 wrapper-item">
        <div class="item">
          <div class="item-icon"><span>15+</span></div>
          <div class="item-sep"></div>
          <div class="item-info">квалифицированных профессионалов</div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 wrapper-item">
        <div class="item">
          <div class="item-icon"><%= image_tag "about-icon.png" %></div>
          <div class="item-sep"></div>
          <div class="item-info">Собственное конструкторско -технологическое бюро</div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 wrapper-item">
        <div class="item">
          <div class="item-icon"><span>15+</span></div>
          <div class="item-sep"></div>
          <div class="item-info">квалифицированных профессионалов</div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 wrapper-item">
        <div class="item">
          <div class="item-icon"><%= image_tag "about-icon.png" %></div>
          <div class="item-sep"></div>
          <div class="item-info">Собственное конструкторско -технологическое бюро</div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 wrapper-item">
        <div class="item">
          <div class="item-icon"><span>15+</span></div>
          <div class="item-sep"></div>
          <div class="item-info">квалифицированных профессионалов</div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 wrapper-item">
        <div class="item">
          <div class="item-icon"><%= image_tag "about-icon.png" %></div>
          <div class="item-sep"></div>
          <div class="item-info">Собственное конструкторско -технологическое бюро</div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 wrapper-item">
        <div class="item">
          <div class="item-icon"><span>15+</span></div>
          <div class="item-sep"></div>
          <div class="item-info">квалифицированных профессионалов</div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 wrapper-item">
        <div class="item">
          <div class="item-icon"><%= image_tag "about-icon.png" %></div>
          <div class="item-sep"></div>
          <div class="item-info">Собственное конструкторско -технологическое бюро</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About -->
