<!-- About -->
<section id="about">
  <div class="streak"></div>

  <div class="container">
    <h1 class="title"><%= @settings.block2_title %></h1>

    <div class="row align-items-start list-items">
      <% @activities.each do |activity| %>
        <div class="col-sm-6 col-md-3 wrapper-item">
          <div class="item">
            <div class="item-icon"><%= image_tag(activity.icon.variant(:preview)) if activity.icon.attached? %></div>
            <div class="item-sep"></div>
            <div class="item-info"><%= activity.info %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- About -->
