<!-- Main -->
<section id="main">
  <div class="red-lines__bg"></div>
  <div class="red-lines__bg-mirror"></div>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="<%= root_path %>"><%= image_tag "logo.png", alt: "Котлы Сибири" %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#main">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">О компании</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#catalog">Каталог</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#reviews">Отзывы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#recommend">Выгоды</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacts">Контакты</a>
          </li>
          <li class="nav-item cart">
            <a class="nav-link" href="/cart"><span class="counter">5</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row align-items-start">
      <div class="col-md-6 main-blocks">
        <div class="main-title">
          <p>Современные</p>
          <p>автоматические</p>
          <p>угольные котлы</p>
        </div>

        <div class="main-description">
          <p>Производим и доставляем</p>
          <p>современные автоматические угольные</p>
          <p>котлы с сибирским характером</p>
          <p>со скидкой 15%</p>
        </div>

        <div class="figure-parallelogram choose-boiler">
          <a href="#catalog">выбрать котел</a>
        </div>

        <div class="main-triangle__red"></div>
      </div>
      <div class="col-md-6 main-blocks">
        <div class="main-contacts">
          <div class="email">sales.kotelsib@ya.ru</div>
          <div class="phone">8 800 222-41-43</div>
          <div class="address">Кузнецкий <span>пр-т, 141/1</span></div>
        </div>

        <div class="geliss"></div>
        <div class="coal"></div>
        <div class="right-elem"></div>

        <div class="white-line"></div>
        <div class="red-line__left"></div>
        <div class="red-line__right"></div>
      </div>
    </div>
  </div>
</section>
<!-- Main -->
