<!-- Recommendations -->
<section id="recommend">
  <div class="recommend-before"></div>

  <div class="wrapper-left"></div>
  <div class="wrapper-right"></div>

  <div class="container">
    <h1 class="title">Почему нас рекомендуют друзьям <span>и выбирают вот уже ... лет подряд</span></h1>

    <div class="row align-items-start list-advantages">
      <div class="col-sm-12 col-md-6 wrapper-item">
        <div class="item-advantage">
          <p class="subtitle">1</p>
          <p class="subtitle">Проектирование</p>
          <p>Как известно все познается в сравнении, посчитайте, сколько времени уходит на обслуживание «стандартного</p>
        </div>
        <div class="item-advantage">
          <p class="subtitle">2</p>
          <p class="subtitle">Производство</p>
          <p>Как известно все познается в сравнении, посчитайте, сколько времени уходит на</p>
        </div>
        <div class="item-advantage">
          <p class="subtitle">3</p>
          <p class="subtitle">Контроль качества</p>
          <p>Как известно все познается в сравнении, посчитайте, сколько времени уходит на готовую видеозапись....</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 wrapper-item">
        <div class="item-advantage">
          <p class="subtitle">4</p>
          <p class="subtitle">Хранение</p>
          <p>Как известно все познается в сравнении, посчитайте, сколько времени уходит на</p>
        </div>
        <div class="item-advantage">
          <p class="subtitle">5</p>
          <p class="subtitle">Логистика</p>
          <p>Как известно все познается в сравнении, посчитайте, сколько времени уходит на</p>
        </div>
        <div class="item-advantage">
          <p class="subtitle">6</p>
          <p class="subtitle">Обслуживание</p>
          <p>Как известно все познается в сравнении, посчитайте, сколько времени уходит на</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Recommendations -->
