<!-- Recommendations -->
<section id="recommend">
  <div class="recommend-before"></div>

  <div class="wrapper-left"></div>
  <div class="wrapper-right"></div>

  <div class="container">
    <h1 class="title">Почему нас рекомендуют друзьям <span>и выбирают вот уже ... лет подряд</span></h1>

    <div class="row align-items-start list-advantages">
      <%
        groups = (@advantages.size % 2).zero? ? @advantages.size / 2 : @advantages.size / 2 + 1
        index = 1
      %>
      <% @advantages.in_groups_of(groups, false).each do |arr| %>
        <div class="col-sm-12 col-md-6 wrapper-item">
          <% arr.each do |advantage| %>
            <div class="item-advantage">
              <p class="subtitle"><%= index %></p>
              <p class="subtitle"><%= advantage.title %></p>
              <p><%= advantage.description %></p>
            </div>
            <% index += 1 %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
<!-- Recommendations -->
