<!-- Reviews -->
<section id="reviews">
  <div class="reviews-before"></div>

  <div class="container">
    <h1 class="title">Отзывы</h1>

    <div class="row align-items-start list-items">
      <div class="col-sm-12 col-md-3 wrapper-item">
        <div class="item-review">
          <div class="item-review__header">
            <div class="user-avatar">
              <%= image_tag "user.png" %>
            </div>
            <div class="user-name">Иванов Иван Иванович</div>
          </div>
          <div class="item-review__body">
            <p>3500 семей блгодрны нам за тепло и уют, который создают наши котлыблгодрны нам за тепло и уют, который создают наши котлы</p>
          </div>
          <div class="item-review__footer">
            <a href="#">+ ссылка на соц.сеть</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 wrapper-item">
        <div class="item-review">
          <div class="item-review__header">
            <div class="user-avatar">
              <%= image_tag "user.png" %>
            </div>
            <div class="user-name">Иванов Иван Иванович</div>
          </div>
          <div class="item-review__body">
            <p>3500 семей блгодрны нам за тепло и уют, который создают наши котлыблгодрны нам за тепло и уют, который создают наши котлы</p>
          </div>
          <div class="item-review__footer">
            <a href="#">+ ссылка на соц.сеть</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 wrapper-item">
        <div class="item-review">
          <div class="item-review__header">
            <div class="user-avatar">
              <%= image_tag "user.png" %>
            </div>
            <div class="user-name">Иванов Иван Иванович</div>
          </div>
          <div class="item-review__body">
            <p>3500 семей блгодрны нам за тепло и уют, который создают наши котлыблгодрны нам за тепло и уют, который создают наши котлы</p>
          </div>
          <div class="item-review__footer">
            <a href="#">+ ссылка на соц.сеть</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 wrapper-item">
        <div class="item-review">
          <div class="item-review__header">
            <div class="user-avatar">
              <%= image_tag "user.png" %>
            </div>
            <div class="user-name">Иванов Иван Иванович</div>
          </div>
          <div class="item-review__body">
            <p>3500 семей блгодрны нам за тепло и уют, который создают наши котлыблгодрны нам за тепло и уют, который создают наши котлы</p>
          </div>
          <div class="item-review__footer">
            <a href="#">+ ссылка на соц.сеть</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-start">
      <div class="col">
        <div class="figure-parallelogram quick-order">
          <a href="#">заказать в 1 клик</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Reviews -->
