<!-- Stocks -->
<section id="stocks">
  <div class="stocks-before"></div>

  <div class="container">
    <h1 class="title">Акции, подарки, бонусы</h1>

    <div class="row align-items-start list-items">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="info-block gradient-red">Визуал + условия (Рекламный макет)</div>
        <div class="info-block gradient-blue">Визуал + условия (Рекламный макет)</div>
      </div>
      <div class="col-4">
        <div class="info-block gradient-blue">Визуал + условия (Рекламный макет)</div>
        <div class="info-block gradient-red">Визуал + условия (Рекламный макет)</div>
      </div>
    </div>

    <div class="row align-items-start">
      <div class="col">
        <div class="figure-parallelogram and-plus">
          <a href="#support">и плюс ко всему...</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Stocks -->
