<!-- Support -->
<section id="support">
  <div class="support-before"></div>

  <div class="wrapper-left"></div>
  <div class="wrapper-right"></div>

  <div class="container">
    <h1 class="title">Поддержка</h1>

    <div class="row align-items-start">
      <div class="col-sm-12 col-md-5">
        <div class="instructions">
          <p class="subtitle">Инструкции</p>
          <a href="#">Автоматический котел ГЕЛИОС</a>
          <a href="#">Блок управления котлом с модулем GSM</a>
        </div>

        <div class="info">
          <p class="subtitle">Полезная информация</p>
          <a href="#">Расчет расхода топлива</a>
          <a href="#">Прошивки</a>
        </div>

        <div class="figure-parallelogram your-question">
          <a href="#contacts">ваш вопрос?</a>
        </div>
      </div>

      <div class="col-sm-12 col-md-5">
        <div class="files">
          <p class="subtitle">Файлы для скачивания (прошивки)</p>
          <a href="#">Инструкция по обновлению прошивок</a>
          <a href="#">Прошивки</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Support -->
