@font-face {
    font-family: "RobotoSlab Black";
    src: url("RobotoSlab-Black.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoSlab Bold";
    src: url("RobotoSlab-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoSlab ExtraBold";
    src: url("RobotoSlab-ExtraBold.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoSlab SemiBold";
    src: url("RobotoSlab-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoSlab ExtraLight";
    src: url("RobotoSlab-ExtraLight.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoSlab Light";
    src: url("RobotoSlab-Light.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoSlab Medium";
    src: url("RobotoSlab-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoSlab Regular";
    src: url("RobotoSlab-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "RobotoSlab Thin";
    src: url("RobotoSlab-Thin.ttf") format('truetype');
}
